@media (max-widith: 768px) {
    nav ul {
        display: block;
        
    }
}
body {
    background-color: rgb(246, 233, 216);
}
nav li {
    margin-right: 0%;
    margin-bottom: 20px;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 10px 65px;
    text-decoration: none;
    margin-left: 0px;

}
li a:hover {
    color: crimson;
}
ul {
    display: block;
    list-style: none;
    background-color: aqua;
    overflow: hidden;
    
}
input[type="text"] {
    border-radius: 5px;
    font-size: larger;

}

    
.active {
    background-color: darkcyan;
    font-family: Georgia;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 0px;
}
